<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">

    


    <div class="row">

      <!--Grid-->
      <div class="col col-30">
      <img ng-src="{{chat.qntL<20?'img/sensor-green.png':chat.qntL<50?'img/sensor-yellow.png':'img/sensor-red.png'}}" style="width: 64px; height: 64px">
      </div>

      <div class="col"><h2>{{chat.qntL<20?'Tudo certo!':chat.qntL<50?'Atenção!':'Perigo!'}}</h2></div>

    </div>

    <div class="row">
        <!--Chart-->
        <canvas id="line" class="chart chart-line" data="data"
          labels="labels" legend="true" series="series" colours="colours">
        </canvas>
    </div>

    <ion-list>

      <ion-item>
        <h2>Sensores ativos: {{chat.qntSensor}}</h2>
        <!--<div style="float: right;">{{chat.qntSensor}}</div>-->
      </ion-item>

      <ion-item>
        <h2>Quantidade de água: {{chat.qntL}}</h2>
      </ion-item>

      <ion-item>
        <h2>Luminosidade: {{chat.luz}}</h2>
      </ion-item>

      <ion-item>
        <h2>Temperatura: {{chat.temp}}</h2>
      </ion-item>

      <ion-item>
        <h2>Umidade: {{chat.umid}}</h2>
      </ion-item>

      <ion-item>
        <h2>Última irrigação: {{chat.lastIrrigation}}</h2>
      </ion-item>

      <ion-item>
        <h2>Próxima irrigação: {{chat.nextIrrigation}}</h2>
      </ion-item>

    </ion-list>

    <!--<button class="button button-balanced">
      Sensores
    </button>-->

    <div class="list">

      <div class="item item-button-right">
        Sensores
        <button class="button button-balanced">
          <i class="icon ion-leaf"></i>
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
