<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">

    <div class="card">
      
      <a class="item item-avatar">
          <img ng-src="{{chat.qntL<20?'img/sensor-green.png':chat.qntL<50?'img/sensor-yellow.png':'img/sensor-red.png'}}" style="width: 64px; height: 64px">
          <h2>
            {{chat.qntL<20?'Sistema OK':chat.qntL<50?'Verificar irrigação':'Perigo'}}
          </h2>
          <p>
            {{
            chat.qntL<20?'Tudo certo com os níveis de água.':
            chat.qntL<50?'Marque a próxima irrigação!':
            'Nível critico de água!!!'
            }}
          </p>
        </a>
    </div>

    <div class="row">
        <!--Chart-->
        <canvas id="line" class="chart chart-line" data="data"
          labels="labels" legend="true" series="series" colours="colours">
        </canvas>
    </div>

      <div class="item item-icon-left">
        <i class="icon ion-eye"></i>
          Sensores Ativos : <span style="float: right;">{{chat.qntSensor}}</span>
      </div>   
      
      <div class="item item-icon-left">
        <i class="icon ion-waterdrop"></i>
          Quantidade de Água : <span style="float: right;">{{chat.qntL}}</span>
      </div> 

      <div class="item item-icon-left">
        <i class="icon ion-android-sunny"></i>
          Luminosidade : <span style="float: right;">{{chat.luz}}</span>
      </div> 

      <div class="item item-icon-left">
        <i class="icon ion-thermometer"></i>
          Temperatura : <span style="float: right;">{{chat.temp}}</span>
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-ios-cloud"></i>
          Umidade : <span style="float: right;">{{chat.umid}}</span>
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-ios-calendar"></i>
          Ultima Irrigação : <span style="float: right;">{{chat.lastIrrigation}}</span>
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-ios-calendar-outline"></i>
          Próxima Irrigação : <span style="float: right;">{{chat.nextIrrigation}}</span>
      </div>

    </div>

  </ion-content>
</ion-view>
