<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">

    <div class="card">
      
      <a class="item item-avatar">
          <img ng-src="{{chat.qntL<20?'img/sensor-green.png':chat.qntL<50?'img/sensor-yellow.png':'img/sensor-red.png'}}" style="width: 64px; height: 64px">
          <h2>
            {{chat.qntL<20?'Sistema OK':chat.qntL<50?'Verificar irrigação':'Perigo'}}
          </h2>
          <p>
            {{
            chat.qntL<20?'Esse hectar está com bons niveis de água.':
            chat.qntL<50?'Marque a próxima irrigação do hectar.':
            'Faça a irrigação o quanto antes!!!'
            }}
          </p>
        </a>
    </div>

    <div class="row">
        <!--Chart-->
        <canvas id="line" class="chart chart-line" data="data"
          labels="labels" legend="true" series="series" colours="colours">
        </canvas>
    </div>


    <ion-list>

      <ion-item>
        <h2>Sensores ativos: {{chat.qntSensor}}</h2>
        <!--<div style="float: right;">{{chat.qntSensor}}</div>-->
      </ion-item>

      <ion-item>
        <h2>Quantidade de água: {{chat.qntL}}</h2>
      </ion-item>

      <ion-item>
        <h2>Luminosidade: {{chat.luz}}</h2>
      </ion-item>

      <ion-item>
        <h2>Temperatura: {{chat.temp}}</h2>
      </ion-item>

      <ion-item>
        <h2>Umidade: {{chat.umid}}</h2>
      </ion-item>

      <ion-item>
        <h2>Última irrigação: {{chat.lastIrrigation}}</h2>
      </ion-item>

      <ion-item>
        <h2>Próxima irrigação: {{chat.nextIrrigation}}</h2>
      </ion-item>

    </ion-list>

    <!--<button class="button button-balanced">
      Sensores
    </button>-->

    <div class="list">

      <div class="item item-button-right">
        Sensores
        <button class="button button-balanced">
          <i class="icon ion-leaf"></i>
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
