<ion-view view-title="Sensors">
  <ion-content>
    <ion-list class="backgroundImage">
      <ion-item class="item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.qntL<20?'img/sensor-green.png':chat.qntL<50?'img/sensor-yellow.png':'img/sensor-red.png'}}">
        <div style="float: left;">
          <h2>{{chat.name}}</h2>
          <p>{{chat.lastText}}</p>
        </div>
        <div style="float: right;">{{chat.qntL}} L</div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
