<ion-view view-title="Açaí View">
  <ion-content class="padding">
  	<div class="center"><img ng-src="img/Logo.png" id="logo"></div>
    <h2 class="center">APP Açaí HidroView</h2>
    <p class="text">Continuous monitoring for sustainable cultivation "açaízero" (Euterpe oleracea)</p>
    <br /><h4>Collaborators:</h4>
    <div class="row">

      <!--Grid-->
      <div class="col col-50">
      	<img src="img/ufpa.png" class="colaborators">
      </div>

      <div class="col col-50">
      	<img src="img/embrapa.png" class="colaborators">
      </div>

    </div>
    <div class="row">
        <img src="img/pct_guama.png" class="colaborators center">
    </div>

  </ion-content>
</ion-view>
