.center {
	text-align: center;
}

.text {
	text-indent: 30px;
	text-align: justify;
}

#logo {
	width: 50%;
	height: 50%;
	text-align: center;

}

.colaborators {
	width: 70%;
	height: 70%;
}

.spinner svg {
  width: 19% !important;
  height: 85px !important;
}